<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') -%>
<body class="bg-light">
    <%- include('../partials/nav.ejs') -%>

    <div class="container">
        <div class="row">
            <h3 class="p-3 mx-3 fw-bold">Overview</h3>
            <div class="col-lg-4">
             <div class="card p-3">
                <h4>Chart #1</h4>
             </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') -%>
</body>

</html>